 
.prop{
  text-align: left;
  margin: 5px auto 5px auto;
  width: 600px;
  min-height: 10px;
  background: orange;
  border: 5px solid orangered;
  padding: 20px;
}

.button{
  text-align: center;
  margin: 1px auto 1px auto;
  background:orangered ;
  border: 2px solid orangered;
  padding: 5px;  

}